<!DOCTYPE html>
<html>

<head>
    <title>
        Reddit Reader
    </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
    <header>
        <h1>Reddit Reader</h1>
        <h3>A service to aggregate all your favourite subreddits</h3>
    </header>
    <main>
        <form action="/read">
            <h4>Select the subreddits you're interested on:</h4>
            <ul>
                {% for url in data %}
                    <li>
                        <input type="checkbox" name="{{url}}" id="{{url}}">
                        <label for="{{url}}">
                            r/{{url}}
                        </label>
                    </li>
                {% endfor %}

            </ul>
            <button type="submit">Aggregate</button>
        </form>
    </main>  
</body>

</html>