<!DOCTYPE html>
<html>
    <head>
        <title>Remote Jobs</title>
        <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    </head>
    <body>
        <header>
            <h1>Remote Jobs</h1>
            <h3>{{searchByJobNumber}} {{searchBy}} jobs found.</h3>
            <p></p>
            <a href="/export?word={{searchBy}}">Export to CSV</a>
            <p></p>
            <a href="/">🔙 Go back</a>
        </header>
        <main>
            {% for job in searchByJob %}
                <div>
                    <strong>{{job.title}}</strong>
                    <p></p>
                    <strong>{{job.company}}</strong>
                    <p></p>
                    <a href="{{job.link}}" target="_blank">Apply</a>
                </div>    
                <hr>
            {% endfor%}
        </main>
    </body>
</html>